@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <div id="cuerpo-sup">
        <div id="cuerpo-login">
           <label for="btn-login"><P>INICIAR SESIÓN</P></label>
        </div>
        <div id="cuerpo-unirse">
            <P>SUSCRIPCIONES</P>
        </div>
        <div id="cuerpo-recomendaciones">
            <label for="btn-nosotros"><P>NOSOTROS</P></label>
        </div>
        <div id="cuerpo-busqueda">
            <P>CONTACTENOS</P>
        </div>
        <div id="cuerpo-titulo">
            <p>KEMONO</p>
        </div>
        <div id="cuerpo-logo">
            <img src="https://lh3.googleusercontent.com/60PNC9H-4J-GR21d4sqOA3n38XPnymnIVRKV3YH0IZDoO_vCXBrzzrm71dXnoOX1aQz_saEOgnIVkV8d_Nxy2o1nhlCGL07t6idqlhR2bW8XipeZicC5k7Kyq83-ppEpQM-b6kA8xCY6UlebzsarRCh5CKIZCLymcPfcY-05rYnMLp7sOIRQ0uwo4ipm6_mEKC58SSxsAslzVQbWNMGXvJBSaM199OU6P6baAxuOU1KTZU2P-fMO0NZ3NgiT1Xv1Z9akZCYjQpxsSqSISAm_F1H0LYz45feS18JS6v8kFmCBIKjIiU3Ss_Febtq-Qk-GQSoQss0r01Bv-Ku3mix3Jb7ccr1oA36CZ5O9LX4n6uOmapyc-A-MiEYLdjrRMwBkXAId1qifSUHKtyHTXUZ2TrgRtScfJKcXx-efJd1911lv_rHI6JxzZ-jS71RcmAXgdChFtNWHBYZKc0dTrRTKd9dA3RiDPZcy4t84HaQfj60j4ZBrCVycQjD7vHmfnCim780T9u1u-X9Lqce2jJHfz8l_834HQ5qhhDiWQHmuZ6-XX2Ut5tjiIWJXSMe_6k0fG2bfTilX4nG_1h0NZdMVFMJvcfsIxwgCpwKr_Oq0WHq8FDQhJ3s2Lt-GvllIH4ge4a8C0gNWiSplAgvjXyXqGgnXyb5o3dDHY-QE-Xar8Ru2dkwdBoncYk8PcwbOTmQEN1NErimc6-1e_zTB6TLNwVnAwoM_27B3UllMchDt7rnfndxNx4cIae6NeRcdcAp-1kDRDOEqW9XhmEEM3N4i01tnHxvxoJbziLUr-ECVDorn6wqtZYxlvcBuf3L8erQlne3nrXYF156tuwTp9P-dycsQGZf-zegrb5PZTytt0PMnD6ZvBj5etACoT6ab5T0Fsma9MWSq-k03=w567-h634-no?authuser=0" alt="">
        </div>
    </div>
    <div id="cuerpo-med"></div>
    <div id="cuerpo-inf">
        <div id="cuerpo-noticias"></div>
        <div id="cuerpo-listas"></div>
    </div>
    <div id="reproductor"></div>

    @* INICIO VENTANA MENU *@
    <input type="checkbox" id="btn-menu" style="visibility: hidden;">
    <div id="boton" class="btn-menu">
            <label for="btn-menu"> <img src="https://img.icons8.com/wired/344/chevron-right.png"></img> </label>
        </div>
    
    <div id="menu-izq">
        
        <nav>
        <a href="#">USUARIO</a>
        <a href="#">PLAYLIST</a>
        <a href="#">CUENTA</a><img src="" alt="">
        <a href="#">SUSCRIPCIONES</a>
        </nav>
        <label for="btn-menu"> <img src="https://cdn-icons.flaticon.com/png/512/2618/premium/2618352.png?token=exp=1651284276~hmac=227edeb164a139d667a93b2568d8b0d6" alt></label>
    </div>

    @* INICIO VENTANA login *@
        
     <input type="checkbox" id="btn-login" style="visibility: hidden;">
        <div id="boton-login" class="btn-login">
            
        </div>
    
        <div id="menu-login">
            <label for="btn-login"> <img src="https://cdn-icons-png.flaticon.com/512/1828/1828599.png" alt></label>
            <div id="fondo-log">
                <form id="form-log">
                     <img src="https://lh3.googleusercontent.com/60PNC9H-4J-GR21d4sqOA3n38XPnymnIVRKV3YH0IZDoO_vCXBrzzrm71dXnoOX1aQz_saEOgnIVkV8d_Nxy2o1nhlCGL07t6idqlhR2bW8XipeZicC5k7Kyq83-ppEpQM-b6kA8xCY6UlebzsarRCh5CKIZCLymcPfcY-05rYnMLp7sOIRQ0uwo4ipm6_mEKC58SSxsAslzVQbWNMGXvJBSaM199OU6P6baAxuOU1KTZU2P-fMO0NZ3NgiT1Xv1Z9akZCYjQpxsSqSISAm_F1H0LYz45feS18JS6v8kFmCBIKjIiU3Ss_Febtq-Qk-GQSoQss0r01Bv-Ku3mix3Jb7ccr1oA36CZ5O9LX4n6uOmapyc-A-MiEYLdjrRMwBkXAId1qifSUHKtyHTXUZ2TrgRtScfJKcXx-efJd1911lv_rHI6JxzZ-jS71RcmAXgdChFtNWHBYZKc0dTrRTKd9dA3RiDPZcy4t84HaQfj60j4ZBrCVycQjD7vHmfnCim780T9u1u-X9Lqce2jJHfz8l_834HQ5qhhDiWQHmuZ6-XX2Ut5tjiIWJXSMe_6k0fG2bfTilX4nG_1h0NZdMVFMJvcfsIxwgCpwKr_Oq0WHq8FDQhJ3s2Lt-GvllIH4ge4a8C0gNWiSplAgvjXyXqGgnXyb5o3dDHY-QE-Xar8Ru2dkwdBoncYk8PcwbOTmQEN1NErimc6-1e_zTB6TLNwVnAwoM_27B3UllMchDt7rnfndxNx4cIae6NeRcdcAp-1kDRDOEqW9XhmEEM3N4i01tnHxvxoJbziLUr-ECVDorn6wqtZYxlvcBuf3L8erQlne3nrXYF156tuwTp9P-dycsQGZf-zegrb5PZTytt0PMnD6ZvBj5etACoT6ab5T0Fsma9MWSq-k03=w567-h634-no?authuser=0" alt="">
                        <p for="name">USUARIO</p>
                        <input type="text" id="name" name="user_name">
                        <P></P>
                        <p for="mail">CONTRASEÑA</p>
                        <input type="password" id="mail" name="user_mail">
                        <P></P>
                        <P></P>
                        <button class="btn btn-primary" style="background-color: #9F03FF; border-color: #9F03FF;"> INGRESAR</button>
                        <P></P>
                        <P></P>
                        <p> Recuperar contraseña</p>
                </form>
            </div>
        </div>

    @* INICIO VENTANA NOSOTROS *@

    <input type="checkbox" id="btn-nosotros" style="visibility: hidden;">
        <div id="btn-nosotros" class="btn-nosotros">
            
        </div>
    
        <div id="menu-nosotros">
            <label for="btn-nosotros"> <img src="https://cdn-icons-png.flaticon.com/512/1828/1828599.png" alt></label>
            <div id="fondo-nosotros">
            </div>
        </div>


</div>